Lab11Client/src/META-INF/wsdl/localhost_8080/MartinHongJava2Lab11/IntMultiplier.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://lab11/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://lab11/">

<xs:element name="intMultiplier" type="tns:intMultiplier"/>

<xs:element name="intMultiplierResponse" type="tns:intMultiplierResponse"/>

<xs:complexType name="intMultiplier">
<xs:sequence>
<xs:element name="input" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="intMultiplierResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>